<template>
  <ul class="sidenav app-sidenav" :class="{open: value}">

    <router-link
      v-for="link in links"
      :key="link.url"
      tag="li"
      active-class="active"
      :to="link.url"
      :exact="link.exact"
    >
      <a href="#" class="waves-effect waves-grey pointer"><i class="material-icons right">{{link.icon}}</i>{{link.title}}</a>
    </router-link>
  </ul>
</template>

<script>
export default {
  props: ['value'],
  data: () => ({
    links: [
      {title: 'Bill',icon: 'payment', url: '/', exact: true},
      {title: 'History',icon: 'assessment', url: '/history'},
      {title: 'Planning',icon: 'assignment', url: '/planning'},
      {title: 'New record',icon: 'edit', url: '/record'},
      {title: 'Categories',icon: 'style', url: '/categories'}
    ]
  })
}
</script>



