<template>
  <div>
    <div class="page-title">
      <h3>Profile</h3>
    </div>

    <form class="form">
      <div class="input-field">
        <input
            id="description"
            type="text"
        >
        <label for="description">Name</label>
        <span
              class="helper-text invalid">name</span>
      </div>

      <button class="btn waves-effect green waves-light" type="submit">
        Refresh
        <i class="material-icons right">refresh</i>
      </button>
    </form>
  </div>
</template>
